<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.5.7" targetFramework="net472" />
  <package id="Eto.Platform.Windows" version="2.5.7" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
</packages>